.navbar {
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 9999;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link,
.dropdown-item {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-link .cart-count {
  font-size: 14px;
  color: black;
}